torch==2.2.0
torchvision==0.17.0
mujoco-py
gymnasium
pycparser==2.21
zipp==3.16.2
sympy==1.9
setuptools==44.0.0
numpy
mlproj-manager==0.0.29
matplotlib==3.7.2
PyYAML==6.0.1
tqdm==4.66.1
scipy==1.11.2
